OPENAI_API_KEY=[Your OpanAI API key]
ADMIN_USERNAME=[Admin username for authorization]
ADMIN_PASSWORD=[Password for authorization]
LLM_PROVIDER=[openai,azure-openai]

# Optional

AZURE_OPENAI_API_KEY=your-azure-api-key
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-10-21