fastapi
uvicorn
openai
langchain
langchain_text_splitters
pypdf
python-dotenv
tiktoken
langchain-community
langchain-openai
sqlalchemy
psycopg[binary]
pgvector
alembic
python-multipart
pydantic
# pytest
# pytest-asyncio