fastapi
uvicorn
openai
langchain
langchain_text_splitters
chromadb
pypdf
python-dotenv
tiktoken
langchain-community
langchain-openai
langchain_chroma
python-multipart
pydantic
# pytest
# pytest-asyncio